<div class="header">
  <div class="div_for_name_and_menu">
    <div class="name">
      <%= link_to (raw @header.content), root_path %>
    </div>
    <div class="phone">8 (916) 508 70 88</div>
    <%= render 'shared/menu' %>
  </div>
</div>