<% provide(:title, @page.name) %>
 <div class="wrap_content">
  <h1 class="page_header align_center"><%= @page.name %></h1>
  <div class="content">
    <div class="column">
      <img src="assets/fill_big.jpg" class="border_img">
    </div>
    <div class="column column_no_margin">
      <%= raw @page.left_content %>
      <a href="assets/cert/1.jpg"><img src="assets/cert/cert1.jpg" class="cert"></a>
      <a href="assets/cert/3.jpg"><img src="assets/cert/cert3.jpg" class="cert"></a>
      <a href="assets/cert/4.jpg"><img src="assets/cert/cert4.jpg" class="cert"></a>
      <a href="assets/cert/7.jpg"><img src="assets/cert/cert7.jpg" class="cert"></a>
      <a href="assets/cert/8.jpg"><img src="assets/cert/cert8.jpg" class="cert"></a>
      <a href="assets/cert/2.jpg"><img src="assets/cert/cert2.jpg" class="cert"></a>
      <a href="assets/cert/5.jpg"><img src="assets/cert/cert5.jpg" class="cert"></a>
      <a href="assets/cert/6.jpg"><img src="assets/cert/cert6.jpg" class="cert"></a>
      <a href="assets/cert/10.jpg"><img src="assets/cert/cert10.jpg" class="cert"></a>
    </div>   
  </div>
</div>
